
		<div id="divTableContainer" class="scrollbar scrollbar-custom">
			<table id="masterTable">
				<tr>
					<td valign="top">
						<!--<button type="checkbox" class="tableHeadEqualHeights" id="masterEditButton" onclick="makeTableEditable()" title="Click to Edit StoryLineTable" for="editableRadio" checked="true">Edit StoryLine
							<input id="editableRadio" type="checkbox" checked='true' value="editableRadio" style="width: 20px">
						</button>-->
						<svg id="svg"></svg>
						<!--I POSITION THE SVG HERE SO THAT IT CAN SCROLL WITH THE TABLE WITHOUT HAVING TO BE REDRAWN-->
						<table id="legendTable">
							<thead>
							</thead>
							<tbody>
							</tbody>
						</table>
					</td>

					<td id="legendNstoryLineHolder" valign="top" style="position: relative">
