<!--///////[START]/[BStL-foot]/////////////////////////////-->
<script type="text/javascript" src="javascript/darkOrlightBG.js"></script>
<script type="text/javascript" src="javascript/GetElement-XY-Coordinates.js"></script>
<script type="text/javascript" src="javascript/tableColumnClasses.js"></script>

<script type="text/javascript" src="javascript/draggableHtmlElement.js"></script>
<script type="text/javascript" src="javascript/dragdCloneDivs.js"></script>
<script type="text/javascript" src="javascript/svgCurvedLinesConnectors-G.js"></script>
<script type="text/javascript" src="javascript/cssColorNamesArray.js"></script>

<script type="text/javascript" src="javascript/BibleStoryLineCreator.js"></script>
<script type="text/javascript" src="javascript/detailsSection.js"></script>

<script type="text/javascript" src="javascript/dragDropRows&Cells.js"></script>

<script type="text/javascript" src="javascript/fileSaver.js"></script>
<script type="text/javascript" src="javascript/saveTimelineAndDetails.js"></script>
<script type="text/javascript" src="javascript/TextEditorDocExec.js"></script>

<script type="text/javascript" src="javascript/reftager.js"></script>
<script type="text/javascript" src="javascript/storyTellerColumnSlideShow.js"></script>

</html>
<!--///////[END]/[BStL-foot]///////////////////////////////-->