<link type="text/css" href="../style/style.css" rel="stylesheet">
</head>
<body>
{% for page in site.pages %}{% if page.title contains "Site Home" %}
<a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>{% endif %}{% endfor %}
{% if page.title contains "Site Home" %}
{% for page in site.pages %}{% if page.title contains "About" %}
<a href="{% if site.baseurl == "" %}{{page.url}}{% elsif site.baseurl != "" %}/{{site.baseurl}}{{page.url}}{% endif %}">{{page.title}}</a>{% endif %}{% endfor %}{% endif %}