---
layout: bibleStoryLineTEMPLATE
title: "Psalm 82-A"
categories: Timeline
---
<style id="divColorStyles">
	.opt_El-Elyon {
		background-color: Gainsboro;
		stroke: Gainsboro
	}

	.opt_Benei-Elohim {
		background-color: PowderBlue;
		stroke: PowderBlue
	}

	.opt_Satan {
		background-color: Pink;
		stroke: Pink
	}

	.opt_Men {
		background-color: PowderBlue;
		stroke: PowderBlue
	}

</style>
{% include BStL-preStorylineTable.html %}
<table id="storyLineTable">
	<thead>
		<tr rowname="Time">
			<td class="dragOverELAdded col-1 col-2 col-3 col-4 col-5 col-6" colspan="6" rindex="0" originalcolspan="6" style="" hiddencol_xs_count="0">
				<h4 contenteditable="true">Time Before the Nations</h4>
			</td>
			<td colspan="8" class="dragOverELAdded col-7 col-8 col-9 col-10 col-11 col-12 col-13 col-14" rindex="0" style="" originalcolspan="8" hiddencol_xs_count="0">
				<h4 contenteditable="true">gods ruling the nations</h4>
			</td>



			<td colspan="1" class="dragOverELAdded col-15" originalcolspan="1" rindex="0" style="" hiddencol_xs_count="0">
				<h4 contenteditable="true">gods out of power</h4>
			</td>
		</tr>
		<tr rowname="Time">
			<td class="dragOverELAdded col-1" colspan="1" rindex="1" style="" originalcolspan="1" hiddencol_xs_count="0">
				<h4 contenteditable="true">Creation</h4>
			</td>
			<td class="dragOverELAdded col-2" colspan="1" originalcolspan="1" rindex="1" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-3" colspan="1" originalcolspan="1" rindex="1" style="" hiddencol_xs_count="0">
				<h4 contenteditable="true">Garden of Eden</h4>
			</td>
			<td class="dragOverELAdded col-4" colspan="1" originalcolspan="1" rindex="1" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-5" colspan="1" originalcolspan="1" rindex="1" style="" hiddencol_xs_count="0">
				<h4 contenteditable="true">Pre-flood</h4>
			</td>
			<td class="dragOverELAdded col-6" colspan="1" originalcolspan="1" rindex="1" style="" hiddencol_xs_count="0"></td>
			<td colspan="1" class="dragOverELAdded col-7" rindex="1" style="" originalcolspan="1" hiddencol_xs_count="0">
				<h4 contenteditable="true">Division of Nations</h4>
			</td>
			<td class="dragOverELAdded col-8" colspan="1" originalcolspan="1" rindex="1" style="" hiddencol_xs_count="0"></td>
			<td colspan="1" class="dragOverELAdded col-9" originalcolspan="1" rindex="1" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-10" colspan="1" originalcolspan="1" rindex="1" style="" hiddencol_xs_count="0"></td>
			<td colspan="1" class="dragOverELAdded col-11" originalcolspan="1" rindex="1" style="" hiddencol_xs_count="0">
				<h4 contenteditable="true">gods are Judged&nbsp;</h4>
			</td>
			<td colspan="1" class="dragOverELAdded col-12" originalcolspan="1" rindex="1" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-13" colspan="1" originalcolspan="1" rindex="1" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-14" colspan="1" originalcolspan="1" rindex="1" hiddencol_xs_count="0"></td>
			<td colspan="1" class="dragOverELAdded col-15" originalcolspan="1" rindex="1" style="" hiddencol_xs_count="0">
				<h4 contenteditable="true">The "gods" are put to death</h4>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr rowname="God and the gods" title="God and the gods">
			<td class="dragOverELAdded col-1" colspan="1" rindex="2" detailindex="10" style="" originalcolspan="1" hiddencol_xs_count="0" location="heaven"><span class="locationspan">Heaven</span>
				<div class="opt_El-Elyon draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="El-Elyon" title="El-Elyon" draggable="true" style="">God</div>
				<div class="opt_Benei-Elohim draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Benei-Elohim" title="Benei-Elohim" draggable="true" style="">The gods</div>
			</td>
			<td class="dragOverELAdded col-2" colspan="1" originalcolspan="1" rindex="2" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-3" colspan="1" originalcolspan="1" rindex="2" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-4" colspan="1" originalcolspan="1" rindex="2" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-5" colspan="1" originalcolspan="1" rindex="2" detailindex="11" style="" hiddencol_xs_count="0" location="nod"><span class="locationspan">Nod</span>
				<div class="opt_Benei-Elohim draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Benei-Elohim" title="Benei-Elohim" draggable="true">Sons of God</div>
			</td>
			<td class="dragOverELAdded col-6" colspan="1" originalcolspan="1" rindex="2" style="" hiddencol_xs_count="0"></td>
			<td colspan="1" class="dragOverELAdded col-7" rindex="2" style="" detailindex="1" originalcolspan="1" hiddencol_xs_count="0" location="babel"><span class="locationspan">Babel</span>
				<div class="opt_El-Elyon draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="El-Elyon" title="El-Elyon" draggable="true" style="">God</div>
				<div class="opt_Benei-Elohim draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Benei-Elohim" title="Benei-Elohim" draggable="true" style="">The gods</div>
			</td>
			<td class="dragOverELAdded col-8" colspan="1" originalcolspan="1" rindex="2" style="" hiddencol_xs_count="0"></td>
			<td colspan="1" class="dragOverELAdded col-9" originalcolspan="1" rindex="2" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-10" colspan="1" originalcolspan="1" rindex="2" style="" hiddencol_xs_count="0"></td>
			<td colspan="1" class="dragOverELAdded col-11" originalcolspan="1" rindex="2" style="" detailindex="3" hiddencol_xs_count="0" location="heaven"><span class="locationspan">Heaven</span>
				<div class="opt_El-Elyon draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="El-Elyon" title="El-Elyon" draggable="true" style="">God</div>
				<div class="opt_Benei-Elohim draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Benei-Elohim" title="Benei-Elohim" draggable="true" style="">The gods</div>
			</td>
			<td colspan="1" class="dragOverELAdded col-12" originalcolspan="1" rindex="2" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-13" colspan="1" originalcolspan="1" rindex="2" hiddencol_xs_count="0" style=""></td>
			<td class="dragOverELAdded col-14" colspan="1" originalcolspan="1" rindex="2" hiddencol_xs_count="0"></td>
			<td colspan="1" class="dragOverELAdded col-15" originalcolspan="1" rindex="2" style="" detailindex="4" hiddencol_xs_count="0" location="heaven"><span class="locationspan">Heaven</span>
				<div class="opt_El-Elyon draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="El-Elyon" title="El-Elyon" draggable="true" style="">God</div>
			</td>
		</tr>
		<tr rowname="Men &amp; the gods" title="Men &amp; the gods">
			<td class="dragOverELAdded col-1" colspan="1" rindex="3" style="" originalcolspan="1" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-2" colspan="1" originalcolspan="1" rindex="3" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-3" colspan="1" originalcolspan="1" rindex="3" detailindex="12" style="" hiddencol_xs_count="0" location="garden of eden"><span class="locationspan">Garden of Eden</span>
				<div class="opt_Men draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Men" title="Men" draggable="true">Adam &amp; Eve</div>
				<div class="opt_Satan draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Satan" title="Satan" draggable="true" style="">The Wicked</div>
			</td>
			<td class="dragOverELAdded col-4" colspan="1" originalcolspan="1" rindex="3" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-5" colspan="1" originalcolspan="1" rindex="3" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-6" colspan="1" originalcolspan="1" rindex="3" style="" hiddencol_xs_count="0"></td>
			<td colspan="1" class="dragOverELAdded col-7" rindex="3" style="" originalcolspan="1" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-8" colspan="1" originalcolspan="1" rindex="3" style="" hiddencol_xs_count="0"></td>


			<td class="dragOverELAdded col-9" colspan="1" originalcolspan="1" rindex="3" detailindex="8" style="" hiddencol_xs_count="0" location="the earth"><span class="locationspan">The Earth</span>
				<div class="opt_Benei-Elohim draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Benei-Elohim" title="Benei-Elohim" draggable="true" style="">The gods</div>
				<div class="opt_Men draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Men" title="Men" draggable="true" style="">The Nations</div>
				<div class="opt_Satan draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Satan" title="Satan" draggable="true" style="">The Wicked</div>
			</td>
			<td class="dragOverELAdded col-10" colspan="1" originalcolspan="1" rindex="3" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-11" colspan="1" originalcolspan="1" rindex="3" style="" detailindex="6" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-12" colspan="1" originalcolspan="1" rindex="3" detailindex="7" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-13" colspan="1" originalcolspan="1" rindex="3" detailindex="9" style="" hiddencol_xs_count="0">
				<div class="opt_Benei-Elohim draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Benei-Elohim" title="Benei-Elohim" draggable="true" style="">The gods</div>
				<div class="opt_Men draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Men" title="Men" draggable="true" style="">The Nations</div>
				<div class="opt_Satan draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Satan" title="Satan" draggable="true" style="">The Wicked</div>
			</td>
			<td colspan="1" class="dragOverELAdded col-14" originalcolspan="1" rindex="3" style="" hiddencol_xs_count="0"></td>
			<td class="dragOverELAdded col-15" colspan="1" originalcolspan="1" rindex="3" style="" hiddencol_xs_count="0" detailindex="1" location="lake of fire"><span class="locationspan">Lake of Fire</span>
				<div class="opt_Benei-Elohim draggableDiv nameLabelDiv dragEventListnerAdded" divclassname="Benei-Elohim" title="Benei-Elohim" draggable="true" style="">The gods</div>
			</td>
		</tr>
	</tbody>
</table>

{% include BStL-masterTableEND.html %}
{% include BStL-detailsSection-Buttons.html %}

<div id="detailsSummary" class="scrollbar-custom">
	<div class="hideDetail" id="detail_1" detailindex="1" contenteditable="false">
		<p style="font-size: 14.7579px;">El-Elyon appoints the sons of God over the nations [Deu 32:8]</p>
	</div>
	<div class="hideDetail" id="detail_2" detailindex="2" contenteditable="false">
		<p>The gods partner with the Wicked One, i.e., Satan to the hurt of men. This is contrary to the will of God.</p>
	</div>
	<div class="hideDetail" id="detail_3" detailindex="3" contenteditable="false">
		<p>God judges the sons of God</p>
	</div>
	<div class="hideDetail" id="detail_4" detailindex="4" contenteditable="false">
		<p>God casts the "gods" into the Lake of Fire.</p>
		<p><i>(The Lake of Fire is the Second Death. This is the only death their kind can die.)</i></p>
	</div>
	<div class="hideDetail" id="detail_5" detailindex="5" contenteditable="false">
		<p></p>
	</div>
	<div class="hideDetail" id="detail_6" detailindex="6" contenteditable="false">
		<p></p>
	</div>
	<div class="hideDetail" id="detail_7" detailindex="7" contenteditable="false">
		<p><span style="font-size: 14.7579px;">The gods partner with the Wicked One, i.e., Satan to the hurt of men. This is contrary to the will of God.</span></p>
	</div>
	<div class="hideDetail" id="detail_8" detailindex="8" contenteditable="false">
		<p>The gods lend their support to Satan, "the wicked". This is contrary to the will of God and the purpose for which they were appointed over the nations.</p>
	</div>
	<div class="hideDetail" id="detail_9" detailindex="9" contenteditable="false">
		<p><span style="font-size: 14.7579px;">The gods lend their support to Satan, "the wicked". This is contrary to the will of God and the purpose for which they were appointed over the nations.</span></p>
	</div>
	<div class="hideDetail" id="detail_10" detailindex="10" contenteditable="false">
		<p>Yahweh in the Beginning, as recorded in Genesis, we read of God speaking to his heavenly council--"Let us" [Gen 1:26].</p>
		<p>That this is the heavenly council is confirmed in the record of the division of nations, in the prophecy of Isaiah, and in the words of the angel of Nebuchadnezzar's vision.</p>
		<p>Now, from Job we know that the heavenly council includes the sons of God.</p>
		<p>Yahweh speaking to Job, informs us of the presence of the sons of God at the creation of the world [Job 38:8ff].</p>
	</div>
	<div class="hideDetail" id="detail_11" detailindex="11" contenteditable="false">
		<p>Before the flood, we read of sons of God who mated with human women.</p>
		<p>Evidently then, the gods were declared to be gods before the flood.</p>
	</div>
	<div class="hideDetail" id="detail_12" detailindex="12" contenteditable="false">
		<p>Satan through the serpent deceives the woman and causes her, and Adam, to sin [Gen 3:1-6].</p>
	</div>
	<div class="showDetail" id="detail_1" detailindex="1" contenteditable="true">
		<p></p>
	</div>
</div>
